USE [master]
GO
/****** Object:  Database [RentalDB]    Script Date: 26.05.2021 21:50:28 ******/
CREATE DATABASE [RentalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RentalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\RentalDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RentalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\RentalDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RentalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RentalDB]
GO
/****** Object:  Table [dbo].[Advert]    Script Date: 26.05.2021 21:50:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advert](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[AdvertOwner] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
	[Price] [decimal](12, 2) NULL,
	[CategoryId] [int] NULL,
	[Country_Id] [int] NULL,
	[State_Id] [int] NULL,
	[Date] [date] NULL,
	[CarDetID] [int] NULL,
	[HomeDetID] [int] NULL,
	[WorkDetID] [int] NULL,
 CONSTRAINT [PK_Advert] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarDetails]    Script Date: 26.05.2021 21:50:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Brand] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Gear] [nvarchar](50) NULL,
	[ModelYear] [int] NULL,
	[FuelType] [nvarchar](50) NULL,
	[Color] [nvarchar](50) NULL,
 CONSTRAINT [PK_CarDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 26.05.2021 21:50:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 26.05.2021 21:50:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomeDetails]    Script Date: 26.05.2021 21:50:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomCount] [int] NULL,
	[Age] [int] NULL,
	[Floor] [int] NULL,
	[Balcony] [int] NULL,
	[HeatingSystem] [nvarchar](50) NULL,
 CONSTRAINT [PK_HomeDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[State]    Script Date: 26.05.2021 21:50:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](50) NULL,
	[CountryId] [int] NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkDetails]    Script Date: 26.05.2021 21:50:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[WorkAge] [nvarchar](50) NULL,
	[WorkRoom] [nvarchar](50) NULL,
 CONSTRAINT [PK_WorkDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Advert] ON 

INSERT [dbo].[Advert] ([Id], [Title], [AdvertOwner], [Description], [Price], [CategoryId], [Country_Id], [State_Id], [Date], [CarDetID], [HomeDetID], [WorkDetID]) VALUES (1, N'Tek Site', N'Rukiye Tütüncü', N'Denize sıfır yazlık', CAST(40000.00 AS Decimal(12, 2)), 1, 48, 582, CAST(N'2021-05-26' AS Date), 1, 1, 1)
INSERT [dbo].[Advert] ([Id], [Title], [AdvertOwner], [Description], [Price], [CategoryId], [Country_Id], [State_Id], [Date], [CarDetID], [HomeDetID], [WorkDetID]) VALUES (2, N'Otoparklı Daire', N'Power Gayrimenkul', N'Etiler''de kiralık daire', CAST(6000.00 AS Decimal(12, 2)), 1, 34, 836, CAST(N'2021-05-26' AS Date), 2, 2, 2)
INSERT [dbo].[Advert] ([Id], [Title], [AdvertOwner], [Description], [Price], [CategoryId], [Country_Id], [State_Id], [Date], [CarDetID], [HomeDetID], [WorkDetID]) VALUES (4, N'Kiralık 1+1 Daire', N'Hcp Yapı', N'EGE ÜNV VE FORUMA YAKIN', CAST(1600.00 AS Decimal(12, 2)), 1, 35, 869, CAST(N'2021-05-26' AS Date), 4, 4, 4)
SET IDENTITY_INSERT [dbo].[Advert] OFF
SET IDENTITY_INSERT [dbo].[CarDetails] ON 

INSERT [dbo].[CarDetails] ([Id], [Brand], [Model], [Gear], [ModelYear], [FuelType], [Color]) VALUES (1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CarDetails] ([Id], [Brand], [Model], [Gear], [ModelYear], [FuelType], [Color]) VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CarDetails] ([Id], [Brand], [Model], [Gear], [ModelYear], [FuelType], [Color]) VALUES (4, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CarDetails] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [CategoryName]) VALUES (1, N'Ev')
INSERT [dbo].[Category] ([Id], [CategoryName]) VALUES (2, N'Araba')
INSERT [dbo].[Category] ([Id], [CategoryName]) VALUES (3, N'İşyeri')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([Id], [CountryName]) VALUES (1, N'ADANA')
INSERT [dbo].[Country] ([Id], [CountryName]) VALUES (2, N'ADIYAMAN')
INSERT [dbo].[Country] ([Id], [CountryName]) VALUES (3, N'AFYON')
SET IDENTITY_INSERT [dbo].[Country] OFF
SET IDENTITY_INSERT [dbo].[HomeDetails] ON 

INSERT [dbo].[HomeDetails] ([Id], [RoomCount], [Age], [Floor], [Balcony], [HeatingSystem]) VALUES (1, 4, 26, 3, 2, N'Klima')
INSERT [dbo].[HomeDetails] ([Id], [RoomCount], [Age], [Floor], [Balcony], [HeatingSystem]) VALUES (2, 3, 30, 5, 2, N'Merkezi')
INSERT [dbo].[HomeDetails] ([Id], [RoomCount], [Age], [Floor], [Balcony], [HeatingSystem]) VALUES (4, 2, 2, 3, 1, N'Klima')
SET IDENTITY_INSERT [dbo].[HomeDetails] OFF
SET IDENTITY_INSERT [dbo].[State] ON 

INSERT [dbo].[State] ([Id], [StateName], [CountryId]) VALUES (1, N'SEYHAN', 1)
INSERT [dbo].[State] ([Id], [StateName], [CountryId]) VALUES (2, N'CEYHAN', 1)
INSERT [dbo].[State] ([Id], [StateName], [CountryId]) VALUES (3, N'FEKE', 1)
GO
SET IDENTITY_INSERT [dbo].[State] OFF
SET IDENTITY_INSERT [dbo].[WorkDetails] ON 

INSERT [dbo].[WorkDetails] ([Id], [Type], [Status], [WorkAge], [WorkRoom]) VALUES (1, NULL, NULL, NULL, NULL)
INSERT [dbo].[WorkDetails] ([Id], [Type], [Status], [WorkAge], [WorkRoom]) VALUES (2, NULL, NULL, NULL, NULL)
INSERT [dbo].[WorkDetails] ([Id], [Type], [Status], [WorkAge], [WorkRoom]) VALUES (4, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[WorkDetails] OFF
ALTER TABLE [dbo].[Advert]  WITH CHECK ADD  CONSTRAINT [FK_Advert_CarDetails] FOREIGN KEY([CarDetID])
REFERENCES [dbo].[CarDetails] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Advert] CHECK CONSTRAINT [FK_Advert_CarDetails]
GO
ALTER TABLE [dbo].[Advert]  WITH CHECK ADD  CONSTRAINT [FK_Advert_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Advert] CHECK CONSTRAINT [FK_Advert_Category]
GO
ALTER TABLE [dbo].[Advert]  WITH CHECK ADD  CONSTRAINT [FK_Advert_Country] FOREIGN KEY([Country_Id])
REFERENCES [dbo].[Country] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Advert] CHECK CONSTRAINT [FK_Advert_Country]
GO
ALTER TABLE [dbo].[Advert]  WITH CHECK ADD  CONSTRAINT [FK_Advert_HomeDetails] FOREIGN KEY([HomeDetID])
REFERENCES [dbo].[HomeDetails] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Advert] CHECK CONSTRAINT [FK_Advert_HomeDetails]
GO
ALTER TABLE [dbo].[Advert]  WITH CHECK ADD  CONSTRAINT [FK_Advert_State] FOREIGN KEY([State_Id])
REFERENCES [dbo].[State] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Advert] CHECK CONSTRAINT [FK_Advert_State]
GO
ALTER TABLE [dbo].[Advert]  WITH CHECK ADD  CONSTRAINT [FK_Advert_WorkDetails] FOREIGN KEY([WorkDetID])
REFERENCES [dbo].[WorkDetails] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Advert] CHECK CONSTRAINT [FK_Advert_WorkDetails]
GO
ALTER TABLE [dbo].[State]  WITH CHECK ADD  CONSTRAINT [FK_State_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[State] CHECK CONSTRAINT [FK_State_Country]
GO
USE [master]
GO
